<div class="container">
<a ui-sref="about" class="nav-link" >About</a>
<h2>Tasks Taker</h2>
<form ng-submit="createTask()">
<input class='form-control todos_create-input' placeholder="Type Your Task Here" ng-model="createTaskInput"/>
<button class="btn btn-success todos_create-button">Create Task</button>
</form>
<table class="table table-striped">
<tr>
<th>Compeleted</th>
<th>Task</th>
<th>Actions</th>
</tr>
<tr ng-repeat="todo in todos">
<td><input type="checkbox" ng-checked="todo.isCompleted" ng-click="onCompletedClick(todo)"/></td>
<td><span class="todos_task" ng-if="!todo.isEditing" ng-class="{'todos_task--completed':todo.isCompleted}">{{todo.task}}</span>
<form ng-submit="updateTask(todo)">
<input class="form-control todos_update-input" ng-if="todo.isEditing" ng-value="todo.task" ng-model="todo.updatedTask"/>
</form>
</td>
<td>
<button ng-if="!todo.isEditing" class="btn btn-info" ng-click="onEditClick(todo)">Edit</button>
<button ng-if="!todo.isEditing" class="btn btn-danger" ng-click="deleteTask(todo)">Delete</button>
<button ng-if="todo.isEditing" class="btn btn-primary" ng-click="updateTask(todo)">Save</button>
<button ng-if="todo.isEditing" class="btn btn-default" ng-click="onCancelClick(todo)">Cancel</button>
</td>
</tr>
</table>
</div>